@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,200,300,500,700);
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }
::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers:
 */
.hidden {
  display: none; }

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important; }
  a,
  a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  /*
	 * Don't show links that are fragment identifiers,
	 * or use the `javascript:` pseudo protocol
	 */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  /*
	 * Printing Tables:
	 * http://css-discuss.incutio.com/wiki/Printing_Tables
	 */
  thead {
    display: table-header-group; }
  tr,
  img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; } }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  font-family: 'Roboto', sans-serif; }

header {
  position: fixed;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 4em;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1em 3em;
  background-color: rgba(230, 230, 230, 0.8);
  color: black;
  border-bottom: solid 1px rgba(230, 230, 230, 0.85);
  z-index: 10; }
  header h1 {
    font-size: 200%;
    padding: 0;
    margin: 0; }
  header nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
    header nav a:link, header nav a:visited {
      font-size: 150%;
      font-weight: 300;
      padding-left: 1em;
      color: black;
      opacity: 0.8;
      -webkit-transition: opacity 0.1s linear;
              transition: opacity 0.1s linear; }
      header nav a:link:hover, header nav a:visited:hover {
        opacity: 1; }

main {
  position: absolute;
  top: 6em;
  left: 0;
  width: 100%; }

a:link, a:visited {
  color: black;
  text-decoration: none; }

h1 {
  margin: 0;
  padding: 0.7em; }

.center-horizontal {
  margin: 0 auto; }

html, main {
  height: 100%; }

body {
  height: 100%;
  overflow-x: hidden; }

.noscroll {
  overflow: hidden; }

#home {
  display: block;
  position: fixed;
  width: 4em;
  height: 4em;
  right: 1.5em;
  bottom: 1.5em;
  border-radius: 100%;
  text-align: center;
  line-height: 4em;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100;
  opacity: 0.5;
  -webkit-transition: opacity 0.1s linear;
          transition: opacity 0.1s linear; }
  #home:hover {
    opacity: 1; }

section {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1; }
  section.justify-left {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 2rem; }
  section.justify-right {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding: 2rem; }
  section.align-bottom {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding: 2rem; }
  section .content {
    max-width: 90%;
    text-align: center; }
  section .footnote {
    position: absolute;
    padding: 0.25rem 0;
    text-transform: uppercase;
    font-size: 75%; }
  section a {
    -webkit-transition: color 0.1s linear;
            transition: color 0.1s linear; }
    section a:link, section a:visited {
      color: #303F9F; }
    section a:hover {
      color: #5C6BC0; }
  section b {
    text-transform: uppercase; }
    section b.large {
      font-size: 100%; }

#preload {
  position: absolute;
  top: 0;
  left: 0;
  color: #FFF;
  background-color: #FFF;
  font-size: 200%;
  z-index: 999;
  -webkit-transition: height 0.5s linear;
          transition: height 0.5s linear; }
  #preload.gone {
    height: 0; }
    #preload.gone .content {
      opacity: 0; }
  #preload .content {
    -webkit-transition: opacity 0.25s linear;
            transition: opacity 0.25s linear; }
    #preload .content h1 {
      padding-bottom: 3rem; }
  #preload #loading {
    -webkit-animation: spinner 1.4s linear infinite;
            animation: spinner 1.4s linear infinite; }
    #preload #loading #spinner {
      stroke-dasharray: 187;
      stroke-dashoffset: 0;
      -webkit-transform-origin: center;
          -ms-transform-origin: center;
              transform-origin: center;
      -webkit-animation: dash 1.4s ease-in-out infinite;
              animation: dash 1.4s ease-in-out infinite;
      stroke: #FFF; }

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg); } }

@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg); } }

@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 187; }
  50% {
    stroke-dashoffset: 46.75;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg); }
  100% {
    stroke-dashoffset: 187;
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg); } }

@keyframes dash {
  0% {
    stroke-dashoffset: 187; }
  50% {
    stroke-dashoffset: 46.75;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg); }
  100% {
    stroke-dashoffset: 187;
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg); } }

#slider {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: url("../images/picture-064.jpg") center center; }

#start {
  position: fixed;
  top: 0;
  left: 0;
  color: #FFF;
  background: -webkit-radial-gradient(circle, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.85));
  background: radial-gradient(circle, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.85));
  z-index: 2; }
  #start h1 {
    font-size: 500%;
    font-weight: 200;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.5); }

#padding {
  height: 200%; }

#bg1, #bg2 {
  width: 100%;
  z-index: -5;
  left: 0; }

#bg1 {
  position: fixed;
  top: 0;
  height: 118%;
  background: url("../images/circuit_board.jpg") center top;
  background-size: 100% auto;
  opacity: 0.15; }

#bg3-container {
  position: absolute;
  top: 700%;
  left: 0;
  height: 200%;
  width: 100%;
  z-index: 1; }

#bg3 {
  position: absolute;
  visibility: hidden;
  top: 0;
  left: 0;
  height: auto;
  width: 100%; }

#chart {
  width: 75%;
  height: 75%;
  z-index: 1; }

section.cols {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  z-index: 1; }
  section.cols > div {
    height: 100%;
    width: 50%; }
  section.cols .col {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    section.cols .col.left {
      position: relative;
      -webkit-box-pack: end;
      -webkit-justify-content: flex-end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      text-align: right; }
      section.cols .col.left .footnote {
        right: 1rem; }

#section2 {
  z-index: 0; }

#colorslider {
  position: absolute;
  top: 500%;
  left: 0;
  background-color: #01b6ea;
  z-index: 5; }

#barchart {
  width: 90%;
  margin-right: 5%; }

#section3 .left {
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  position: relative;
  left: -100%; }
  #section3 .left.active {
    left: 0; }

#colorslider3 {
  position: absolute;
  top: 1300%;
  left: 0;
  background-color: #01b6ea;
  z-index: 5; }

#colorslider4 {
  position: absolute;
  top: 1600%;
  left: 0;
  background-color: #01b6ea;
  z-index: 5; }

h1 {
  font-size: 300%;
  font-weight: 300;
  margin: 1.5rem 0;
  padding: 0; }

h2 {
  font-size: 250%;
  font-weight: 300;
  margin: 1.25rem 0; }

h3 {
  font-size: 175%;
  font-weight: 400;
  margin: 1rem 0; }

h4 {
  font-size: 150%;
  font-weight: 400;
  margin: 1rem 0; }

p {
  font-size: 175%;
  font-weight: 400;
  color: #333; }
  p.no-indent {
    text-indent: 0;
    padding: 2rem; }

.lift-platform {
  position: relative; }

.lift {
  position: absolute; }

footer {
  padding: 1rem 0;
  text-align: center;
  color: white;
  background-color: #333;
  cursor: pointer; }

#sources {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  background: -webkit-radial-gradient(circle, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.75));
  background: radial-gradient(circle, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.75));
  z-index: 20;
  -webkit-transition: opacity 0.1s linear, visibility 0.1s linear;
          transition: opacity 0.1s linear, visibility 0.1s linear;
  opacity: 0; }
  #sources.active {
    visibility: visible;
    opacity: 1; }
  #sources .content {
    height: 80%;
    width: 60%;
    border-radius: 3rem;
    text-align: center;
    padding: 2rem;
    background-color: #555; }
    #sources .content h1 {
      margin: 0; }

div.button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
  border: solid green 1px;
  border-radius: 1rem;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
