@import 'styles';

html{
	height: 100%;
}
body {
	height: 100%;
}

section {
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;
	height: 100%;
	width: 100%;
	-webkit-align-items: center;
	-webkit-justify-content: center;
	.content {
		max-width: 90%;
		text-align: center;
	}
	h1 {
		padding: 0;
	}
}
#slider {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 1;
	background: url("../images/picture-064.jpg") center center;
	-webkit-filter: brightness(90%);
	-moz-filter: brightness(90%);
	filter: url(#brightness); /* required for FF */
	filter: brightness(90%);
}
#start {
	position: fixed;
	color: #FFF;
	font-size: 200%;
	font-weight: lighter;
	z-index: 2;
}
#padding {
	height: 200%;
}
#bg1 {
	position: absolute;
	top: 100%;
	left: 0;
	height: 100%;
	width: 100%;
	background: url("../images/circuit_board.jpg") center top;
	background-size: 100% auto;
	-webkit-filter: brightness(200%);
	-webkit-filter: contrast(90%);
	filter: brightness(200%);
	opacity: 0.5;
	z-index: -1;
}
#chart {
	width: 75%;
	height: 75%;
}
.cols {
	display: -ms-flex;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: flex-start;
	-webkit-justify-content: flex-start;
	z-index: 1;

	& > div {
		height: 100%;
		width: 50%;
	}
	.col {
		display: -ms-flex;
		display: -webkit-flex;
		display: flex;
		-webkit-align-items: center;
		&.left {
			-webkit-justify-content: flex-end;
			text-align: right;
		}
	}
}
#case {
	position: absolute;
	top: 125%;
	height: 100%;
	width: auto;
	#cellphone {
		position: absolute;
		top: 0;
		left: 0;
		max-height: 100%;
		width: auto;
	}
}
#barchart {
	width:90%;
	margin-right: 5%;
}