@import 'styles';

html{
	height: 100%;
}
body {
	height: 100%;
	overflow-x: hidden;
}
.noscroll {
	overflow: hidden;
}
#home {
	display: block;
	position: fixed;
	width: 4em;
	height: 4em;
	right: 1.5em;
	bottom: 1.5em;
	border-radius: 100%;
	text-align: center;
	line-height: 4em;
	color: white;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 100;
	opacity: 0.5;
	transition: opacity 0.1s linear;
	&:hover {
		opacity: 1;
	}
}
section {
	position: relative;
	display: flex;
	height: 100%;
	width: 100%;
	align-items: center;
	justify-content: center;
	z-index: 1;
	&.justify-left {
		justify-content: flex-start;
		padding: 2rem;
	}
	&.justify-right {
		justify-content: flex-end;
		padding: 2rem;
	}
	&.align-bottom {
		align-items: flex-end;
		padding: 2rem;
	}
	.content {
		max-width: 90%;
		text-align: center;
	}
	.footnote {
		position: absolute; // Remove from control flow
		padding: 0.25rem;
		text-transform: uppercase;
		font-size: 75%;
	}
	a {
		transition: color 0.1s linear;
		&:link, &:visited {
			color: #303F9F;
		}
		&:hover {
			color: #5C6BC0;
		}
	}
	b {
		text-transform: uppercase;
		&.large {
			font-size: 100%;
		}
	}
}
#preload {
	position: absolute;
	top: 0;
	left: 0;
	color: #FFF;
	background-color: #FFF;
	font-size: 200%;
	z-index: 999;
	transition: height 0.5s linear;
	&.gone {
		height: 0;
		.content {
			opacity: 0;
		}
	}
	.content {
		transition: opacity 0.25s linear;
		h1 {
			padding-bottom: 3rem;
		}
	}
	$offset: 187;
	$duration: 1.4s;

	#loading {
		animation: spinner $duration linear infinite;
		#spinner {
			stroke-dasharray: $offset;
			stroke-dashoffset: 0;
			transform-origin: center;
			animation: dash $duration ease-in-out infinite;
			stroke: #FFF;
		}
	}

	@include keyframes(spinner) {
		0% { transform: rotate(0deg); }
		100% { transform: rotate(270deg); }
	}


	@include keyframes(dash) {
		0% { stroke-dashoffset: $offset; }
		50% {
			stroke-dashoffset: $offset/4;
			transform:rotate(135deg);
		}
		100% {
			stroke-dashoffset: $offset;
			transform:rotate(450deg);
		}
	}
}
#slider {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background: url("../images/picture-064.jpg") center center;
}
#start {
	position: fixed;
	top: 0;
	left: 0;
	color: #FFF;
	background: radial-gradient(circle, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.85));
	z-index: 2;
	h1 {
		font-size: 500%;
		font-weight: 200;
		text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.5);
	}
}
#padding {
	height: 200%;
}
%bg {
	width: 100%;
	z-index: -5;
	left: 0;
}
#bg1 {
	@extend %bg;
	position: fixed;
	top: 0;
	height: 118%;   // aspect ratio of image
	background: url("../images/circuit_board.jpg") center top;
	background-size: 100% auto;
	opacity: 0.15;
}
#bg2 {
	@extend %bg;

}
#bg3-container {
	position: absolute;
	top: 700%;
	left: 0;
	height: 200%;
	width: 100%;
	z-index: 1
}
#bg3 {
	//@extend %bg;
	position: absolute;
	visibility: hidden;
	top: 0;
	left: 0;
	height: auto;
	width: 100%;
}
#chart {
	width: 75%;
	height: 75%;
	z-index: 1;
}
.cols {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	z-index: 1;

	& > div {
		height: 100%;
		width: 50%;
	}
	.col {
		display: flex;
		align-items: center;
		&.left {
			position: relative;
			justify-content: flex-end;
			text-align: right;
			.footnote {
				right: 1rem;
			}
		}
	}
}
#section2 {
	z-index: 0;
}
#colorslider {
	position: absolute;
	top: 500%;
	left: 0;
	background-color: #01b6ea;
	z-index: 5;
}
#case {
	position: absolute;
	top: 525%;
	height: 100%;
	width: auto;
	#cellphone {
		position: absolute;
		top: 0;
		left: 0;
		max-height: 100%;
		width: auto;
	}
}
$hex-size: 6rem;
.hex-grid {
	ol:nth-child(2n-1) {
		position: relative;
		left: ($hex-size / 1.1);
	}
	ol:nth-child(2n) {
		position: relative;
		margin-top: 3.5em;
		margin-bottom: 3.5em;
	}
	.hex {
		position: relative;
		width: ($hex-size * 1.7);
		height: $hex-size;
		background-color: #444;
		//transform: rotate(-90deg);
		display: inline-block;
		margin-right: 0.5em;
		transition: all 0.1s ease-in-out;
	}
	.hex:before, .hex:after {
		position: absolute;
		width: inherit; height: inherit;
		border-radius: inherit;
		background: inherit;
		content: "";
	}
	.hex:before {
		transform: rotate(60deg);
	}
	.hex:after {
		transform: rotate(-60deg);
	}
	.hex:hover {
		background: #888;
		cursor: pointer;
	}
	h1 {
		position: absolute;
		top: 0;
		left: 0;
		padding: 0;
		color: white;
		width: 100%;
		height: 100%;
		text-align: center;
		line-height: 3rem;
		z-index: 2;
		&.small {
			font-size: 200%;
		}
	}
}
#barchart {
	width:90%;
	margin-right: 5%;
}
#section3 {
	.left {
		transition-duration: 1s;
		position: relative;
		left: -100%;
		&.active {
			left: 0;
		}
	}
}

#smog {
	.col.left {
		padding: 1em;
	}
	#smog-image {
		padding: 1em;
		width: 100%;
		visibility: hidden;
		img {
			width: 100%
		}
	}
}

#health {
	.col.left {
		padding-top: 2em;
		padding-left: 3em;
		padding-bottom: 2em;
		padding-right: 1em;
		&>div {
			width: 100%;
			img {
				width: 75%;
			}
		}
	}
	.col.right {
		padding-left: 1em;
	}
}

#pirate {
	padding: 3em;
	background: #000;
	color: #fff;
	border-radius: 2em;
}
#padding2 {
	height: 100%;
}
// FIXME: these shouldn't be referenced by id or set absolute top
#colorslider2 {
	position: absolute;
	top: 1200%;
	left: 0;
	background-color: #01b6ea;
	z-index: 5;
}
#colorslider3 {
	position: absolute;
	top: 1300%;
	left: 0;
	background-color: #01b6ea;
	z-index: 5;
}
#colorslider4 {
	position: absolute;
	top: 1600%;
	left: 0;
	background-color: #01b6ea;
	z-index: 5;
}
h1 {
	font-size: 300%;
	font-weight: 300;
	margin: 1.5rem 0;
}
h2 {
	font-size: 250%;
	font-weight: 300;
	margin: 1.25rem 0;
}
h3 {
	font-size: 175%;
	font-weight: 400;
	margin: 1rem 0;
}
h4 {
	font-size: 150%;
	font-weight: 400;
	margin: 1rem 0;
}
p {
	text-indent: 3em;
	font-size: 175%;
	font-weight: 400;
	color: #333;
	&.no-indent {
		text-indent: 0;
		padding: 2rem;
	}
}
.lift-platform {
	position: relative;
}
.lift {
	position: absolute;
}
footer {
	padding: 1rem 0;
	text-align: center;
	color: white;
	background-color: #333;
	cursor: pointer;
}
#sources {
	display: flex;
	visibility: hidden;  // normally flex
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	align-items: center;
	justify-content: center;
	color: white;
	background: radial-gradient(circle, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.75));
	z-index: 20;
	transition: opacity 0.1s linear, visibility 0.1s linear;
	opacity: 0;
	&.active {
		visibility: visible;
		opacity: 1;
	}
	.content {
		height: 80%;
		width: 60%;
		border-radius: 3rem;
		text-align: center;
		padding: 2rem;
		background-color: #555;
		h1 {
			margin: 0;
		}
	}
}